.Principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #000000;
  }
  
  .Principal h2 {
    width: 616px;
    border: 2px solid black;
    margin-bottom: 0px;
    border-bottom: none;
    padding: 7px;
    text-align: center;
    background-color: #fff;
  }
  
  .rating-container {
    display: flex;
    align-items: center;
  }
  
  .rating-container label {
    margin-right: 10px;
  }

  .formRating {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 600px;
    height: auto;
    padding: 15px;
    margin: 0;
    border: 2px solid black;
    background-color: #fff;
  }
  
  .submitRating {
    background-color: #253af7cb;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    width: 200px;
    height: 50px;
    text-align: center;
    margin: auto;
    border: none;
    border-radius: 6px;
    transition: all linear 160ms;
    cursor: pointer;
  }
  
  .formRating label {
    font-size: 20px;
  }
  
  .formRating textarea {
    height: 90px;
    width: 590px;
    font-size: 20px;
  }
  
  .formRating input {
    display: none; /* Ocultar o input */
  }
  
  .star-rating {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 24px;
  }
  
  .star-icon {
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .star-icon.filled {
    color: #ffce00;
  }
  
  .imgRating img {
    margin: auto;
    display: block;
    width: 250px;
  }
  
  .imgRating p {
    text-align: center;
  }
  
  .commentRating {
    background-color: #858585cb;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    width: 200px;
    height: 30px;
    text-align: center;
    margin: 10px;
    border: none;
    border-radius: 6px;
    transition: all linear 160ms;
    cursor: pointer;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 16px;
    max-width: 600px;
    width: 90%;
    text-align: center;
    border-radius: 4px;
    color: #000000;
  }
  
  .modal-content h2 {
    margin-top: 0;
  }
  
  .modal-content p {
    margin-bottom: 0;
  }
  
/*
.Principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #000000;
    
}
.Principal h2{
    width: 616px;
    border: 2px solid black;
    margin-bottom: 0px;
    border-bottom: none;
    padding: 7px;
    text-align: center;
    background-color: #fff;
}

.formRating{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 600px;
    height: 430px;
    padding: 15px;
    margin: 0;
    border: 2px solid black;
    background-color: #fff;
}
.submitRating{
    background-color: #253af7cb;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    width: 200px;
    height: 100px;
    text-align: center;
    margin: auto;
    border: none;
    border-radius: 6px;
    transition: all linear 160ms;
    cursor: pointer;
}
.formRating label{
    font-size: 20px;
}
.formRating textarea{
    height: 90px;
    width: 590px;
    font-size: 20px;
}
.formRating input{
    font-size: 20px;
    width: 37px;
}
.imgRating img{
    margin: auto;
    display: block;
    width: 250px;
}
.imgRating p{
    text-align: center;
}
.commentRating{
    background-color: #858585cb;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    width: 200px;
    height: 30px;
    text-align: center;
    margin: 10px;
    border: none;
    border-radius: 6px;
    transition: all linear 160ms;
    cursor: pointer;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
.modal-content {
    background-color: #fff;
    padding: 16px;
    max-width: 600px;
    width: 90%;
    text-align: center;
    border-radius: 4px;
  }
.modal-content h2 {
    margin-top: 0;
  }
.modal-content p {
    margin-bottom: 0;
  }*/