.game-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.25fr));
  
  justify-content: center;
  grid-gap: 16px;
  grid-auto-rows: 420px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}


.game-card {
  background-color: #343434;
  border-radius: 10px;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
  height: 100%;
  display: flex;
  flex-direction: column;
  /*transition: transform 0.1s ease;*/
  overflow: hidden; /* Esconde as informações de desenvolvedores, consoles e gêneros */
  position: relative;
}

.game-card.hovered .rating{
  margin-top: 0;
}

.game-card.hovered .game-info-hidden{
  max-height: 500px; 
  /*transition: max-height 0.1s ease;*/
  opacity: 1;
  text-align: center;
}

.game-info-hidden{
  max-height: 0; 
  /*transition: max-height 0.1s ease;*/
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  text-align: center;
}

/*
.game-card.hovered .game-info {
  
  max-height: 100px; 
  transition: max-height 0.9s ease;
  opacity: 1;
}

.game-card.hovered .platform-container {
 
  opacity: 1;
  max-height: 100px;
  transition: max-height 0.9s ease;
}*/

.game-card:hover {
  /*transform: scale(1.05); /* Aumenta o tamanho do cartão com o mouse em cima */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-card img {
  flex: 1;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.game-card h3 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.game-card a {
  margin-top: 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.game-card a:hover {
  color:orange;
}

.game-info{
  margin-left: 1%;
  margin-right: 1.5%;
  /*
  max-height: 0; 
  transition: max-height 0.9s ease;
  overflow: hidden;*/
}
.game-card p {
  margin-bottom: 8px;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  
}
.game-card p span {
  margin-left: 8px;
}

.game-card .j-platform-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  /*
  
  max-height: 0; 
  transition: max-height 0.9s ease;
  overflow: hidden; */
}

.game-card .j-platform-container-consoles {
  margin-left: 3.6%;
  /*
  
  max-height: 0; 
  transition: max-height 0.9s ease;
  overflow: hidden; */
}

.platform-logo {
  width: 20px; /* Defina o tamanho desejado para as imagens */
  height: 20px; /* Defina o tamanho desejado para as imagens */
  margin-right: 4px; /* Opcional: Adicione um espaçamento entre as logos */
}

.platform-logo-nintendo{
  width: 75px; /* Defina o tamanho desejado para as imagens */
  height: 20px; /* Defina o tamanho desejado para as imagens */
  margin-right: 4px; /* Opcional: Adicione um espaçamento entre as logos */
}


.game-card .summary-button {
  display: flex;
  justify-content: space-between;
  align-self: center;
  background: #484848;
  border: none;
  border-radius: 10px;
  width: 80%;
  color: rgb(255, 255, 255);
  cursor: pointer;
  align-self: center;
  text-align: left;
  transition: color 0.5s ease;
  margin-top: 2%;
  padding: 3%;
}

.game-card .summary-button:hover {
  color:orange;
}
.summary-button svg {
  vertical-align: middle;
  margin-left: 5px;
}
.game-card .rating {
  font-weight: bold;
  font-size: 18px;
  align-self: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 16px;
  max-width: 600px;
  width: 90%;
  text-align: center;
  border-radius: 4px;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content p {
  margin-bottom: 0;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  margin-left: 5%;
  margin-right: 5%;
}

.search-container input {
  flex: 1;
  border: none;
  padding: 8px;
  margin-right: 8px;
  border-radius: 4px;
  transition: background-color 0.9s ease;
}

.search-container input:hover {
  background-color: white;
  color: #343434
}

.search-container select {
  padding: 8px;
  margin-right: 8px;
}

.search-container button {
  padding: 8px 16px;
  color: white;
  background-color: #F47617;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.search-container button:hover {
  color: #ffffff;
}

h1 {
  text-align: center;
}

/*.game-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .game-table th,
  .game-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .game-image {
    max-width: 100px;
    max-height: 100px;
  }
  
  .summary-button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 16px;
    max-width: 600px;
    width: 90%;
    text-align: center;
    border-radius: 4px;
  }
  
  .modal-content h2 {
    margin-top: 0;
  }
  
  .modal-content p {
    margin-bottom: 0;
  }
  */