.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: 30px;
    background-color: #000000de;
}

.menu h2 a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #F47617;
}

.menu h2 a:hover {
    color: #F47617;
}

.menu button {
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: .3rem;
    font-size: 1.3rem;
    background-color: #F47617;
    border: 2px solid #F47617;
    color: #ffffff;
}

.menu button:hover {
    background-color: #F47617;
    border: 2px solid #F47617;
    color: #ffffff;
}

.loggedInUser {
    color: white;
}