:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(0, 0, 0, 1);
	background-color: rgb(218, 193, 241);
}

body{
	margin: 0;
	place-items: center;
	margin-right: auto;
}

