.titulo-consoles{
    display: flex;
    justify-content: left;
    font-size: 3em;
    margin-left: 1em;
}

.divConsoles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    margin-left: 7.5em;
    margin-top: 5em;
}

.logo-consoles{ 
    cursor: pointer;
}

.divConsoles img{
    width: 12em;
}